@font-face {
    font-family: 'home_font';
    src: url(../fonts/Inconsolata/Inconsolata.otf) format('woff');
    font-weight: normal;
    font-style: normal;
}

.console {
    font-family: home_font;
    white-space: nowrap;
    display: inline;
}