@font-face {
    font-family: 'home_font';
    src: url(../fonts/Inconsolata.otf) format('woff');
    font-weight: normal;
    font-style: normal;
}

.console {
    font-family: home_font;
    white-space: nowrap;
    display: inline;
}

@font-face {
    font-family: 'comstering_nav';
    src: url(../fonts/DejaVuSansMono-Bold.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav-font {
    font-family: 'comstering_nav';
}

@font-face {
    font-family: 'project-title';
    src: url(../fonts/TmoneyRoundWindExtraBold.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

.project-title-font {
    font-family: 'project-title';
}

@font-face {
    font-family: 'project-date';
    src: url(../fonts/Maplestory\ Bold.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

.project-date-font {
    font-family: 'project-date';
    color: #bfbfbf
}

@font-face {
    font-family: 'project-body';
    src: url(../fonts/SEBANG\ Gothic\ Bold.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

.project-body-font {
    font-family: 'project-body';
    color: #999
}

@font-face {
    font-family: 'read-more';
    src: url(../fonts/Montserrat-Bold.ttf);
}

.project-read {
    font-family: 'read-more';
    font-weight: normal;
    font-style: normal;
    color: #999
}

@font-face {
    font-family: 'ionicons';
    src: url(../fonts/ionicons.ttf) format('woff');
}

.icon-font{
    font-family: 'ionicons';
    font-weight: normal;
    font-style: normal;
    content:"\f3d1"
}